<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/test.js"></script>
</head>
<body>
	<div id = "stage">
</div>
  <input type="button" id="t1" value="Load Data1" />
  <input type="button" id="t2" value="Load Data2" />
  <input type="button" id="t3" value="Load Data3" />
  <input type="button" id="t4" value="Load Data4" />
  <input type="button" id="t5" value="Load Data5" />
</body>
</html>